*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun, sans-serif;
}
header{
    background-image: url(./資料蒐集/img/background.jpg);
    background-size: 40%;
}
header div img{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 60vw;
}
nav{
    height: 80px;
    margin-top: 10px;
    background-color: #337ab7;
}
nav > div{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    color: #fff;
    text-decoration: none;
}
.nav:hover{
    color: rgb(247, 243, 48);
    font-size: larger;
    text-decoration: none;
}

/* 首標 */
#CapooMember{
    background-color:#FFD85F;
    border-radius: 20px;
    width: 30vw;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    line-height: 10vh;
    border: 3px solid #FFCF3A;
    letter-spacing:15px;
}
#CapooMember img{
    display: inline-block;
    width: 3vw;
    margin-right: 15px;
}

/* 標題下提示 */
article small{
    display: block;
    text-align: center;
}
/* a[href*="#ch1"]:hover{
照片在滑鼠滑動時轉換
} */

/* 導覽區 */
#SearchImg{
    width: 70vw;
    margin: 0 auto;
}
#SearchImg td{
    border: 3px black solid;
}
#SearchImg td img{
    display: block;
    width: 8vw;
    margin: 0 auto;
}

/* 表格設定 */
#ch1 ,#ch2 , #ch3 ,#ch4 ,#ch5 ,#ch6 ,#ch7 ,#ch8{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(./資料蒐集/img/腳掌背景.png);
    background-repeat: no-repeat; */
    
}
/* #ch1 ,#ch3 ,#ch5 ,#ch7{
    background-position:80% 90%;
}
#ch2 ,#ch4 ,#ch6 ,#ch8{
    background-position:20% 90%;
} */

#ch1 ,#ch8{
    background-color: #FFD85F;
}
#ch2 ,#ch5{
    background-color: #7EB1DC;

}
#ch3 ,#ch6{
    background-color: #FF9C8A;
}
/* #ch4 ,#ch7{
    background-color: hsla(117, 80%, 82%, 0.637);
} */
#table1 ,#table2 ,#table3 ,#table4,
#table5 ,#table6 ,#table7 ,#table8{
    width: 35vw;
}
table td{
    font-size: 18px;
    line-height: 2rem;
    padding: 15px;
}
table tr:first-child td{
    color: white;
    letter-spacing:40px;
    font-size: 24px;
    text-shadow: black 2px 2px ;
}
#table1 td,#table8 td{
    background-color: #FF8F5F;
}
#table1 tr:not(:last-child),
#table8 tr:not(:last-child){
    border-bottom: 5px dotted #FFD85F; 

}
#table2 td,#table5 td{
    background-color: #337ab7;
}
#table2 tr:not(:last-child),
#table5 tr:not(:last-child){
    border-bottom: 5px dotted #7EB1DC; 

}
#table3 td,#table6 td{
    background-color: #ff775fe1;
}
#table3 tr:not(:last-child),
#table6 tr:not(:last-child){
    border-bottom: 5px dotted #FF9C8A; 

}
#table4 td{
    background-color: #FFD85F;
}
#table7 td{
    background-color: #7EB1DC;
}
#table4 tr:not(:last-child),
#table7 tr:not(:last-child){
    border-bottom: 5px dotted white; 

}
.DivImg img{
    width: 30vw;
    height: 30vh;
    object-fit:scale-down;
    
}

/* 各腳色返回上面按鈕 */
#but1 {
    background-color: #FFD85F;
    background-image: url("./資料蒐集/img/腳掌背景.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    position: relative;
    top: 10vw;
}
#but2 {
    background-color: #7EB1DC;
    background-image: url("./資料蒐集/img/腳掌背景.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    position: relative;
    top: 10vw;
}
#but3 {
    background-color: #FF9C8A;
    background-image: url("./資料蒐集/img/腳掌背景.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    position: relative;
    top: 10vw;
}
#but4 {
    background-color: #fff;
    background-image: url("./資料蒐集/img/腳掌背景.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border: none;
    position: relative;
    top: 10vw;
}

/* 滑鼠移動後改變按鈕樣式 */
#but1:hover ,#but2:hover,
#but3:hover ,#but4:hover{
    background-image: url("./資料蒐集/img/腳掌背景2.png");
}


footer{
    background-color: #337ab7;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div a {
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.fa-instagram:hover{
    color: rgb(247, 66, 96);
}
.fa-youtube-play:hover{
    color: red;
}
footer div p {
    color: #fff;
}