*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun, sans-serif;
}
header{
    background-image: url(./資料蒐集/img/background.jpg);
    background-size: 40%;
}
header div img{
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    width: 60vw;
}
nav{
    height: 80px;
    margin-top: 10px;
    background-color: #337ab7;
}
nav > div{
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav{
    color: #fff;
    text-decoration: none;
}
.nav:hover{
    color: rgb(247, 243, 48);
    font-size: larger;
    text-decoration: none;
}

#CapooPortfolio{
    background-color:#FFD85F;
    border-radius: 20px;
    width: 30vw;
    height: 10vh;
    margin: 0 auto;
    text-align: center;
    line-height: 10vh;
    border: 3px solid #FFCF3A;
    letter-spacing:15px;
}
#CapooPortfolio img{
    display: inline-block;
    width: 3vw;
    margin-right: 15px;
}
#PortfolioTxt small{
    display: block;
    width: 60vw;
    margin: 0 auto;
}


article{
    background-color: #FFD85F;
}
#accordion{
    width: 70vw;
    margin: 0 auto;
    position: relative;
}
.MyImgClass1{
    width: 15vw;
}
.MyImgClass2{
    width: 10vw;
    border: 2px black solid;
}
.Mydiv{
    margin: 5px;
}
#accordion div{
    height: 50vh;
    background-color: #7EB1DC;
}
.MyImgClass1{
    border: #337ab7 3px solid;
}
.MyImgClass2:hover{
    cursor: pointer;
}
.ShowImg{
    width: 50vw;
    height: 80vh;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    /* background-color: blue; */
    /* visibility: hidden; */
    display: none;
}
.ShowImg img{
    width: 50vw;
    height:80vh;
    border: #FFCF3A 5px solid;
}
.ShowImg button{
    position: absolute;
    width: 25px;
    height:25px;
    background-color: #FFCF3A;
    left:calc(50vw - 28px);
    top: 5px;
    text-align: center;
    line-height: 25px;
}

footer{
    background-color: #337ab7;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer div a {
    font-size: 30px;
    color: #fff;
    margin-left: 10px;
    margin-right: 10px;
}
.fa-instagram:hover{
    color: rgb(247, 66, 96);
}
.fa-youtube-play:hover{
    color: red;
}
footer div p {
    color: #fff;
}